# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump

UnitTestResults.xml
Assets/External/6by7/ProBuilder/API Examples/*
Assets/External/6by7/ProBuilder/API Examples.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

jsconfig.json

[Bb]uildLog/
[Dd]ist/

[Aa]ssetBundles/
[Aa]ssetBundlesArchive/
[Aa]ssetBundlesPrevious/
[Bb]uildAssetBundles/
[Bb]uildAssetBundlesLog/
settings.json

PolygonAdventure/
PolygonKnights/
PolygonNature/
TestAssets/